<div id="timeline"></div>
<script type="text/javascript">
  var currentTimeline = TimelineSetter.Timeline.boot(
    <%= self.to_json %>, 
    <%= self.config_json %>
  );
</script>
<noscript>
  <table>
    <thead>
      <tr>
        <th>fecha</th>
        <th>series</th>
        <th>descripción</th>
        <th>enlace</th>
        <th>html</th>
      </tr>
    </thead>
    <tbody>
      <% for @event in @events %>
        <tr>
          <td><%= @event[:date] %></td>
          <td><%= @event[:series] %></td>
          <td><%= @event[:description] %></td>
          <td><%= @event[:link] %></td>
          <td><%= @event[:html] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</noscript>